.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 123px;
  background-color: #ffffff;
  align-items: center;
}

.topNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1060px;
  height: 72px;
  gap: 0;
}

.logoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 27px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 24px;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  width: 326px;
  height: 48px;
  margin-right: 317px;
}

.searchInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #f5f6f7;
  border-radius: 4px;
  padding: 0 20px;
}

.searchText {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14.1796875px;
  line-height: 17.16064453125px;
  color: #495056;
}

.partnerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105.34px;
  height: 34px;
  background: none;
  border: none;
  border-radius: 3px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14.0625px;
  line-height: 17.01881980895996px;
  color: #666d75;
  cursor: pointer;
  padding: 0;
  margin-right: 8px;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 151.45px;
  height: 40px;
  background-color: #2b96ed;
  border: none;
  border-radius: 12px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13.125px;
  line-height: 15.884232521057129px;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
}

.bottomNav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 51px;
  border-top: 1px solid #dee2e6;
  align-items: center;
  justify-content: center;
}

.navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1060px;
  height: 50px;
  gap: 0;
}

.navLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18.15340805053711px;
  color: #495056;
  text-decoration: none;
  white-space: nowrap;
}

.navLink:first-child {
  font-size: 16px;
  line-height: 19.363636016845703px;
  margin-right: 42px;
}

.navLink:nth-child(2) {
  font-size: 15.125px;
  line-height: 18.3046875px;
  margin-right: 42px;
}

.navLink:nth-child(3) {
  margin-right: 42px;
}

.navLink:nth-child(4) {
  font-size: 15.125px;
  line-height: 18.3046875px;
  margin-right: 42px;
}

.navLink:nth-child(5) {
  margin-right: 42px;
}

.navLink:nth-child(6) {
  margin-right: 42px;
}

.navLink:nth-child(7) {
  margin-right: 42px;
}

.navLink:nth-child(8) {
  margin-right: 42px;
}

.navLink:nth-child(9) {
  margin-right: 42px;
}

.newIcon {
  display: flex;
  width: 14px;
  height: 14px;
  align-self: flex-start;
  margin-top: -11.5px;
  margin-left: -4px;
}

.moreButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 96px;
  height: 50px;
  background: none;
  border: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14.875px;
  line-height: 18.00213050842285px;
  letter-spacing: -0.4px;
  color: #495056;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
}

.moreIcon {
  display: flex;
  width: 20px;
  height: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 2432px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 526px;
  background-color: #ffffff;
  border-top: 1px solid #e9ecef;
  align-items: center;
}

.footerContent {
  display: flex;
  flex-direction: column;
  width: 1060px;
  height: 525px;
  margin-top: 1px;
}
